<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>example/react</title>
</head>
<body>
    <div id="app"></div>
    <div>前往 [project]/src/app/example/react查看此页面的代码</div>
    <div>saber只是作为工程辅助工具，不会更改任何写react代码的方式。</div>
</body>
</html>