<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../assets/third-party/bootstrap/css/bootstrap.css">
    <title>page example - project hello</title>
</head>
<body>

<div class="container">
    <div class="jumbotron">
        <h1><img src="./saber.jpeg" class="saber"/>：Hello,World !</h1>
        <p>welcome to example page</p>
        <p>
            1. example page is default to open,modify 'home' attribute in &lt;project&gt;/config/dev.config.js or run command
        </p>
        <pre>sbr run [pageName] //eg: sbr run example/normal</pre>
        <p>
            2. more commands run '<strong><i>sbr -h</i></strong>'.
        </p>
        <p>
            3.some example helpful below.
        </p>
    </div>
    <ul class="list-group">
        <li class="list-group-item">
            <a href="/example/custom.html">
                <h4>example nommal</h4>
                <div>index.js auto import by webpack</div>
                <div>index.less import by index.js default</div>
            </a>
        </li>
        <li class="list-group-item">
            <a href="/example/tradition.html">
                <h4>example tradition</h4>
                <div>traditional way to develop project</div>
            </a>
        </li>
        <li class="list-group-item">
            <a href="/example/proxy.html">
                <h4>example proxy</h4>
                <div>develop with proxy server</div>
                <div>set config in [projectName]/config/dev.config.js</div>
            </a>
        </li>
        <!--vue:{{vue}} react:{{react}}-->
        {% if vue == true %}
        <li class="list-group-item">
            <a href="/example/vue.html">
                <h4>example vue</h4>
                <div>saber-cli install some vue relative packages for you</div>
            </a>
        </li>
        {% endif %}
        {% if react == true %}
        <li class="list-group-item">
            <a href="/example/react.html">
                <h4>example react</h4>
                <div>saber-cli install some react relative packages for you</div>
            </a>
        </li>
        {% endif %}
    </ul>
</div>
</body>
</html>